* {
    font-family: "Inter", sans-serif;
}

.auth {
    width: 500px;
    border: 1px solid #DEA057;
    border-radius: 12px;
}

i#togglePassword {
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    float: right;
    margin-top: -27.5px;
    margin-right: 12px;
}

.bg-auth {
    background: #E0D8B0;
}

a.dropdown-item:hover {
    background-color: #E0D8B0;
    color: rgb(75, 16, 16);
}

@media screen and (max-width: 920px) {
    .auth {
        width: 100%;
    }
}