* {
    font-family: "Inter", sans-serif;
}

.auth {
    width: 550px;
    border: 1px solid #dedede;
    border-radius: 12px;
}

i#togglePassword {
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    float: right;
    margin-top: -27.5px;
    margin-right: 12px;
}

.bg-auth {
    background: rgb(13, 110, 253, 0.2);
}

a.dropdown-item:hover {
    background-color: #f2f2f2;
    color: black;
}

@media screen and (max-width: 920px) {
    .auth {
        width: 100%;
    }
}
